* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #2c2c2c;
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
  background-color: antiquewhite;
}

header {
  width: 100dvw;
  height: 6dvh;
  position: fixed;
  background-color: rgb(100, 38, 38);
  top: 0;
  display: flex;
  justify-content: center;
  place-items: center;

  img {
    padding: 1dvw;
    height: 4dvh;
    width: 6dvh;
  }
}

main {
  height: 89dvh;
  width: 86dvw;
  padding: 10px;
  place-items: center;

  p {
    font-weight: 800;
    font-size: larger;
  }

  div.container {
    background-color: rgba(173, 150, 122, 0.795);
  }
}

footer {
  font-weight: 600;
  height: 5dvh;
  width: 100dvw;
  background-color: rgb(173, 150, 122);
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  place-items: center;

  span {
    margin: 10px;
  }
}
