* {
  background-color: bisque;
  margin: 0;
  padding: 0;
}

#yeh {
  background-color: rgb(250, 224, 205);
  width: 10px;
  height: 10px;
  border-radius: 10% 50% 50% 50%;
  position: absolute;
}
#yes {
  background-color: rgb(87, 41, 9);
  width: 20px;
  height: 20px;
  border-radius: 10% 50% 50% 50%;
  position: absolute;
}
